go 1.19

use (
	./january12th/countingSort
	./january12th/insertionSort
	./january13th/users
	./january16th/countingSort
	./january16th/quickSort
	./january19th/users
	./january20th/users
	./january24th
	./january25th
	./january25th/generated/proto
)
